@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); 

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
  background-color: rgba(189, 235, 241, 0.644);
}

.MuiTypography-h5 {
  padding-top: 7px;
}

/*buttons on each end*/
.fa-check-square {
  border-radius: 0%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.fa-trash-alt {
  border-radius: 0%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
