@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow: scroll;
}

html, body {
  height: 100%;
  background-color: rgba(189, 235, 241, 0.644);
  font-family: 'Roboto', sans-serif;
}

.MuiTypography-h5 {
  padding-top: 7px;
}

/*buttons on each end*/
.fa-check-square {
  border-radius: 0%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 15px;
  width: 50px;
}

.fa-trash-alt {
  border-radius: 0%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 15px;
  width: 50px;
}

div.list-section {
  display: flex;
}

ul.list-group {
  margin-bottom: 100px;
  display: flex; 
  list-style: none;
}

ul {
  list-style: none;
}

li {
  margin-top: 15px;
  background-color: grey;
  min-width: 375px;
}